<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.1.1"/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.82">
    <script>
node () {
    
	stage (&apos;Git Checkout&apos;) {
 	 checkout([$class: &apos;GitSCM&apos;, branches: [[name: &apos;*/master&apos;]], doGenerateSubmoduleConfigurations: false, extensions: [], submoduleCfg: [], userRemoteConfigs: [[credentialsId: &apos;&apos;, url: &apos;https://github.com/TechnologyBootCamps/functional-assurance&apos;]]])
	}
	stage (&apos;Run Zalenium Grid&apos;) {
	    if (isUnix()) {
        sh &quot;&quot;&quot;
        docker rm -f \$(docker ps -a -q)
        docker run -d --rm -ti --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zalenium start 
        &quot;&quot;&quot; 
	    }
	    else
	    {
	      bat &quot;&quot;&quot;
             FOR /f &quot;tokens=*&quot; %%i IN (&apos;docker ps -aq&apos;) DO docker stop %%i &amp;&amp; docker rm %%i
             docker run -d --rm -ti --name zalenium -p 4444:4444 -v /var/run/docker.sock:/var/run/docker.sock -v /tmp/videos:/home/seluser/videos --privileged dosel/zalenium start 
         &quot;&quot;&quot;   
	    }
	}     
	stage (&apos;Execute Scripts&apos;) {
	   if (isUnix()) { 
        sh &quot;&quot;&quot;
        mvn clean test -Dcucumber.options=&quot;--tags &apos;@UITest and @Smoke&apos;&quot; -DexecutionPlatform=&quot;GRID_CHROME&quot;
        &quot;&quot;&quot;
	   }
	   else
	   {
	    bat &quot;&quot;&quot;
        mvn clean test -Dcucumber.options=&quot;--tags &apos;@UITest and @Smoke&apos;&quot; -DexecutionPlatform=&quot;GRID_CHROME&quot;
        &quot;&quot;&quot; 
	   }
	}
}

</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>