<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.1.1"/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.82">
    <script>node () {
    
	stage (&apos;Git Checkout&apos;) {
 	 checkout([$class: &apos;GitSCM&apos;, branches: [[name: &apos;*/master&apos;]], doGenerateSubmoduleConfigurations: false, extensions: [], submoduleCfg: [], userRemoteConfigs: [[credentialsId: &apos;&apos;, url: &apos;https://github.com/TechnologyBootCamps/functional-assurance&apos;]]])
	}
	stage (&apos;Run Selenium Grid&apos;) {
	    if (isUnix()) {
            sh &quot;&quot;&quot;
                 docker rm -f \$(docker ps -a -q)
                 docker run -d -p 4444:4444 --name selenium-hub selenium/hub
                 docker run -d --link selenium-hub:hub selenium/node-chrome
                 docker run -d --link selenium-hub:hub selenium/node-firefox
             &quot;&quot;&quot; 
	    }
	    else
	    {
	        bat &quot;&quot;&quot;
                 docker rm -f \$(docker ps -a -q)
                 docker run -d -p 4444:4444 --name selenium-hub selenium/hub
                 docker run -d --link selenium-hub:hub selenium/node-chrome
                 docker run -d --link selenium-hub:hub selenium/node-firefox
             &quot;&quot;&quot;  
	    }
	} 
	
	stage (&apos;Inrease Chrome instances&apos;) {
	    if (isUnix()) {
            sh &quot;&quot;&quot;
                 docker run -d --link selenium-hub:hub selenium/node-chrome
                 docker run -d --link selenium-hub:hub selenium/node-chrome
                 docker run -d --link selenium-hub:hub selenium/node-chrome
                 docker run -d --link selenium-hub:hub selenium/node-chrome
                 docker run -d --link selenium-hub:hub selenium/node-chrome
           
             &quot;&quot;&quot; 
	    }
	    else
	    {
	        bat &quot;&quot;&quot;
                 docker run -d --link selenium-hub:hub selenium/node-chrome
                 docker run -d --link selenium-hub:hub selenium/node-chrome
                 docker run -d --link selenium-hub:hub selenium/node-chrome
                 docker run -d --link selenium-hub:hub selenium/node-chrome
                 docker run -d --link selenium-hub:hub selenium/node-chrome
           
             &quot;&quot;&quot; 
	    }
	} 
  
	stage (&apos;Execute Scripts&apos;) {
	    if (isUnix()) {
            sh &quot;&quot;&quot;
            mvn clean test -Dcucumber.options=&quot;--tags &apos;@UITest and @Smoke&apos;&quot; -DexecutionPlatform=&quot;GRID_FIREFOX&quot;
            &quot;&quot;&quot;
	    }
	    else
	    {
	      bat &quot;&quot;&quot;
            mvn clean test -Dcucumber.options=&quot;--tags &apos;@UITest and @Smoke&apos;&quot; -DexecutionPlatform=&quot;GRID_FIREFOX&quot;
          &quot;&quot;&quot;  
	    }
	}
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>